# Archivos y carpetas de Python (Flask)
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
secrets.json
db.sqlite3

# Archivos y carpetas de Node.js (React)
node_modules/
build/
dist/
.DS_Store

# Archivos de entorno y logs
.env*
*.log

# Archivos de sistema (macOS, Windows)
.DS_Store
Thumbs.db